@media only screen and (min-width:1024px) {

    body {
        padding: 0%;
        margin: 0%;
    }

    header {
        background-color: #f2f2f2;
    }

    .tophead {
        padding-top: 12px;
        padding-bottom: 16ppx;
        padding-left: 8px;
        background-color: #f2f2f2;
    }

    .logo2 {
        margin-left: 1.75cm;
        height: 30px;
        width: 60px;
    }

    .nav1top {
        font-family: Arial, Helvetica, sans-serif;
        margin-top: 30px;
        font-size: 16px;
        display: flex;
        justify-content: center;
        height: 40px;
    }


    .navbar {
        display: flex;
        justify-content: center;
        padding-bottom: 2cm;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        padding-left: 22cm;
    }

    li {
        margin-right: 40px;
    }

    .nav1 a {
        text-decoration: none;
        color: rgb(10, 10, 10);
        font-weight: bold;
    }

    .navunder1 {
        text-decoration: none;
    }

    .nav1top a:hover {
        color: #ae661a;
    }

    .yellowtop {
        background-color: #fbc950;
        margin-top: 10px;
        animation: rotate 2s linear infinite;
        display: flex;
        justify-content: left;
    }

    .yellowman {
        transition: transform 0.5s ease-in-out;
    }

    .L1 {
        text-decoration: none !important;
        color: black;
        font-size: 20px;
        font-family: monospace;
        font-weight: 1;
        letter-spacing: 0.2em;
    }

    .L2 {
        font-size: 50px;
        text-decoration: none !important;
        color: black;
    }

    .L3 {
        font-size: 50px;
        text-decoration: none !important;
        color: black;
    }

    .L4B {
        font-size: 50px;
        color: #34365a;
    }

    .L5 {
        font-size: 50px;
    }

    .L6 {
        font-size: 50px;
    }

    .yellowtext {
        text-decoration: none;
        padding-top: 2cm;
        margin-left: 1cm;
        line-height: 1px;
    }

    .underltop {
        text-decoration: none;
    }

    .rounded-button {
        margin-top: 2cm;
        display: inline-block;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 50px;
        padding-right: 50px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        background-color: #34365a;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .rounded-button:hover {
        color: #34365a;
        background-color: #fff;
    }

    .midheading {
        text-align: center;
        font-size: 40px;
    }

    .midwords {
        text-align: center;
    }

    .body2 {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* 
.R1{
    display: flexbox ;
    justify-content: center;
    margin-left: 4cm ;
    height: 35.5vh;
}

.B2R1{
    width: 12cm;
}

.B2R1{
    font-size: 18px;
    margin-right: auto;
    padding-left: 26px;
    text-align: left;
    background-color: #f1bb13;
    width:12cm ;
    padding-bottom: 12px;
} */

    .boxbutton1 {
        border: solid black 1px;
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        background-color: #f1bb13;
        color: #551a74;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boxbutton1:hover {
        color: #34365a;
        background-color: #fff;
    }

    /* .R2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-left: 4cm ;
    height: 35.5vh;
}

.B1R2{
    color: white;
    font-size: 18px;
    margin-right: auto;
    padding-left: 26px;
    text-align: left;
    background-color: #34365a;
    width:12.80cm ;
    padding-bottom: 12px;
} */

    .boxbutton2 {
        border: solid rgb(255, 255, 255) 1px;
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        background-color: #f1bb13;
        color: #551a74;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boxbutton2:hover {
        color: #34365a;
        background-color: #fff;
    }



    /* .R3{
    display: flex;
    justify-content: center;
    margin-left: 4cm ;
    height: 35.5vh;
}

.B1R3{
    font-size: 18px;
    margin-right: auto;
    padding-left: 26px;
    text-align: left;
    background-color: #f1bb13;
    width:12cm ;
    padding-bottom: 12px;
} */

    .boxbutton3 {
        border: solid black 1px;
        display: inline-block;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 20px;
        text-align: center;
        text-decoration: none;
        background-color: #f1bb13;
        color: #551a74;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boxbutton3:hover {
        color: #34365a;
        background-color: #fff;
    }

    .flex-container {
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        flex-wrap: wrap;
    }

    .R1,
    .R2,
    .R3 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #f1bb13;
        margin: 10px;
        padding: 20px;
    }

    .R2 {
        background-color: #34365a;
    }

    .B2R1,
    .B1R2,
    .B2R3 {
        color: white;
    }

    .boxbutton {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #f1bb13;
        color: #551a74;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boxbutton:hover {
        color: #34365a;
        background-color: #fff;
    }

    .body2-heading {
        font-size: 1.5cm;
    }


    /* .body3 {
        background-color: #34365a;
    } */

    .start-textb3 {
        padding: 3% 5% 40% 5%;
        color: #fff;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #34365a;
        text-align: center;
    }

    .Pb3 {
        font-size: 18px;
    }

    .body3-button1 {
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #34365a;
        color: #ffffff;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .body3-button2 {
        margin-left: 1cm;
        display: inline-block;
        padding: 10px 20px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #ffffff;
        color: #34365a;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .yellowman-img {
        margin-top: 3cm;
        margin-left: 6vh;
        padding-bottom: 8cm;
        width: 22cm;
        height: 22cm;
        position: absolute;
        display: flex;
        /* flex-direction: row-reverse; */
    }

    .whitefloatbox {
        text-align: left;
        padding: 26px;
        margin-top: 7cm;
        margin-left: -4cm;
        position: absolute;
        width: 12cm;
        height: 14cm;
        color: black;
        background-color: #fff;
    }

    .floatboxh1 {
        /* text-align: left; */
        font-size: 52px;
    }

    .flboxtext {
        font-size: 20px;
        line-height: 30px;
    }

    .freepik {
        font-size: 18px;
    }

    .freepik a {
        color: inherit;
    }

    .flboxbutton {
        display: inline-block;
        padding: 4%;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #34365a;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .img-boxb3 {
        margin-top: 12cm;
        display: flex;
        justify-content: center;
    }

    .tilesb3 {
        background-color: #f3c536;
        border-radius: 20px;
        width: 275px;
        height: 420px;
        margin: 20px;
        text-align: center;
    }

    .tilesb3 p {
        color: #000000;
        margin: 10px;
    }

    .tilesb3 img {
        width: 78px;
        margin: 54px;
    }

    .imgb3brd {
        background-color: rgb(144, 160, 0);
        border-radius: 24px;
        padding: 1%;
    }

    .yellowtab {
        margin-top: 2cm;
        margin-left: 4cm;
        width: 14cm;
        height: 8cm;
        border-color: #f1bb13;
        background-color: #f1bb13;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-right-radius: 1.5cm;
        border-bottom-left-radius: 1.5cm;
    }

    .text-midbodw {
        padding: 1cm 24px 1cm 24px;
        line-height: 20px;
        text-align: left;
    }

    .midbod-head {
        font-size: 20px;
        font-family: monospace;
        font-weight: 1;
        letter-spacing: 5px;
    }

    .midbod-h {
        font-size: 48px;
        font-weight: 800;
        font-family: Arial, Helvetica, sans-serif;
    }

    .text-midbodyw {
        margin-top: 2cm;
        text-align: left;
        line-height: 24px;
    }

    .mbw-para {
        font-size: 18px;
    }


    .boxbutton-wb3 {
        display: inline-block;
        padding: 14px 32px 18px 32px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #34365a;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .boxbutton-wb3:hover {
        color: #34365a;
        background-color: #f1bb13;
    }

    .midbodyw-right {
        margin-left: 18cm;
    }

    .mbw-righticons {
        width: 50px;
        height: 50px;
        background-image: none;
        margin: 0 auto 0 0;
        padding: 14px;
        background-color: #34365a;
        border-radius: 50%;
    }

    .yellowgirl-r {
        margin-top: -7cm;
        margin-left: 22cm;
        border: #f1bb13;
        border-radius: 50%;
        width: 255px;
        height: 255px;
    }

    .text-ywl {
        text-align: left;
        text-decoration: none;
        padding-top: 2cm;
        margin-left: 1cm;
        line-height: 1px;
        word-wrap: break-word;
    }

    .yellowlast {
        background-color: #FBC201;
        display: flex;
    }

    .text-ywl {
        padding: 20px 10px 20px 150px;
        width: 100%;
    }

    .text-ywl p {
        margin-top: 2cm;
        font-size: 24px;
        line-height: 12px;
    }
    
    .yellowlast-button{
        display: inline-block;
        padding: 14px 32px 18px 32px;
        font-size: 18px;
        text-align: center;
        text-decoration: none;
        background-color: #34365a;
        color: #fff;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .yellow-clockgirl {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }





}