body {
    padding: 0%;
    margin: 0%;
}

header {
    background-color: #f2f2f2;
}

.tophead {
    padding-top: 12px;
    padding-bottom: 16ppx;
    padding-left: 8px;
    background-color: #f2f2f2;
}

.logo2 {
    margin-left: 1.75cm;
    height: 30px;
    width: 60px;
}

.nav1top {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 30px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    height: 40px;
}


.navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 2cm;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 22cm;
}

li {
    margin-right: 40px;
}

.nav1 a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-weight: bold;
}

.navunder1 {
    text-decoration: none;
}

.nav1top a:hover {
    color: #ae661a;
}